*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===============  Top Navbar  ============ */
.navbar-1{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px grey;
    height: 65px;
    position: sticky;
    top: 0%;
}
#navbar-A {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
}
#navbar-A img{
    margin-top: 5px;
    width: 70px;
}
.country_select{
    width: 250px;
    margin-left: 30px;
    margin-top: 5px;
}
.select i{
    font-size: 15px;
    transition: all 0.3s;
}
.select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255,255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;

}
.option{
    display: flex;
    padding: 10px;
    width: 250px;
    cursor: pointer;

}
.option:hover{
   background-color: #c7dcff;
}
.option p{
    margin-left: 10px;
    color: #444444;
}
.option i{
    color: #839a9c;
}
.option_box{
    box-shadow: 0 0 10px grey;
    background-color: white;
    display: none;
    position: absolute;
    top: 60px;
}
.hidden{
    display: block;
}
.roted{
    transform: rotate(180deg);
}
.searchItems{
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}
.searchItems i{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 0 6px 6px 0;;
    cursor: pointer;
}
.searchclass{
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}
.language{
    margin-left: 25px;
    font-weight: 700;
}
.selectLanguage{
    display: flex;
}
.selectLanguage i{
    font-size: 15px;
    transition: all 0.3s;
}

.eng_tag{
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 5px;
}
.hin_eng{
    background-color: white;
    box-shadow: 0 0 10px grey;
    width: 130px;
    display: none;
    position: absolute;
    top: 60px;
}
.hin_eng li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 10px;
}
.hin_eng li:hover{
    background-color: #c7dcff;
}
.display_div{
    display: block;
}
.message i{
    font-size: 22px;
    color: black;
    cursor: pointer;
    margin-left: 25px;
}
.loginlogo{
    text-decoration: underline;
    margin-left: 25px;
}
.selling_page{
    margin-top: 5px;
    margin-left: 25px;
    border-style: solid;
    border-width:  6px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    
}
.selling_page button{
    display: flex;
    width: 55px;
    height: 25px;
    background-color: white;
    border: none;
    margin-top: 10px;
}
.selling_page p{
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
}

/* <!-- ===============  Bottom Navbar  ============ --> */

.navbar-2{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px grey;
    height: 35px;
}
.navbar-B {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 1299px;
    margin: auto;
    font-size: 13.8px;
}
.navbar-B div{
    margin-left: 15px;
    margin-top: 10px;
}
.allCategoies{
    display: flex;
}
.fulldropdown{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
    border:1px solid #23e5db;
    margin: auto;
    
}
.fulldropdown h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 16.1px;
    margin-bottom: 6x;
}
.fulldropdown p{
    font-size: 14px;
    line-height: 40px;
}
.fulldropdown div{
    margin-top: 30px;
    width: 234px;
}



/* <!-- ===============  download Image  ============ --> */


.downlode_app{
    background-color: #f7f8f9;
}
.downlode{
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 400px;
}
.text{
    border-right: 2px solid #cacdca;
}
.text h1{
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}
.text p{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}
.downlode_store p{
    padding: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 17px;
}
.downlode_store{
    padding-left: 30px;
}
.downlode_store img{
    width: 140px;
    padding-left: 20px;
    cursor: pointer;
}



/* ===============footer============ */



.Main_footer{
    background-color: #ebeeef;
    position: sticky;
    bottom: 0%;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.footer_box h2{
    font-size: 17px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}
.footer_box p{
    margin: 8px 0 8px 0;
    cursor: pointer;
}

