*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===============  Top Navbar  ============ */
.navbar-1{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px grey;
    height: 65px;
    position: sticky;
    top: 0%;
}
#navbar-A {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 1400px;
    margin: auto;
    border: 0px solid blue;
}
#navbar-A img{
    margin-top: 5px;
    width: 100px;
    height: 55px;
}
.country_select{
    width: 250px;
    margin-left: 20px;
    margin-top: 5px;
}
.select i{
    font-size: 22px;
    transition: all 0.3s;
    position: relative;
    bottom: 3px;
    left: 3px;
}
.select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(255, 255,255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}
.option{
    display: flex;
    padding: 10px;
    width: 250px;
    cursor: pointer;

}
.option:hover{
   background-color: #c7dcff;
}
.option p{
    margin-left: 10px;
    color: #444444;
}
.option i{
    color: #839a9c;
}
.option_box{
    box-shadow: 0 0 10px grey;
    background-color: white;
    display: none;
    z-index: 1;
    position: absolute;
    top: 60px;
}
.hidden{
    display: block;
}
.roted{
    transform: rotate(180deg);
}
.searchItems{
    display: flex;
    margin-left: 30px;
    margin-top: 5px;
}
.searchItems i{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 0 6px 6px 0;;
    cursor: pointer;
}
.searchclass{
    padding: 10px;
    width: 550px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px 0 0 6px;
}
.language{
    margin-left: 25px;
    font-weight: 700;
}
.selectLanguage{
    display: flex;
}
.selectLanguage i{
    font-size: 22px;
    transition: all 0.3s;
    position: relative;
    bottom: 3px;
    left: 3px;
}

.eng_tag{
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 5px;
}
.hin_eng{
    background-color: white;
    box-shadow: 0 0 10px grey;
    width: 130px;
    display: none;
    position: absolute;
    top: 60px;
}
.hin_eng li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 10px;
}
.hin_eng li:hover{
    background-color: #c7dcff;
}
.display_div{
    display: block;
}
.message i{
    font-size: 25px;
    color: rgb(22, 19, 19);
    cursor: pointer;
    margin-left: 25px;
}
.loginlogo{
    text-decoration: underline;
    margin-left: 25px;
}
.selling_page{
    margin-top: 5px;
    margin-left: 25px;
    border-style: solid;
    border-width:  6px;
    border-top-color: #23e5db;
    border-left-color: #ffce32;
    border-right-color: #3a77ff;
    border-bottom-color: #3a77ff;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    
}
.selling_page button{
    display: flex;
    width: 55px;
    height: 25px;
    background-color: white;
    border: none;
    margin-top: 10px;
}
.selling_page p{
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
}

/* <!-- ===============  Bottom Navbar  ============ --> */

.navbar-2{
    background-color: #f7f8f9;
    box-shadow: 0 0 2px grey;
    height: 35px;
}
.navbar-B {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 1400px;
    border:0px solid #23e5db;
    margin: auto;
    font-size: 15px;
}
.navbar-B div{
    margin-left: 25px;
    margin-top: 10px;
}
.navbar-B h4:hover{
    color: #00A495;
}
.navbar-B p:hover{
    color: #00A495;
}
.allCategoies{
    display: flex;
    cursor: pointer;
}
.allCategoies i{
    font-size: 20px;
    transition: all 0.03s;
    position: relative;
    bottom:2px;
    left: 7px;
}
.fulldropdown {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    margin: auto;
    display: none;
    cursor: pointer;
    width: 90%;
    height: auto;
    position: absolute;
    top: 95px;
    z-index: 100;
}
.fulldropdown ul{
    margin-top: 10px;
    margin-left: 40px;
    width: 230px;
}
.fulldropdown  h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 29.1px;
    margin-bottom: 6x;
}
.fulldropdown  h2:hover{
    color: #00A495;
}
.fulldropdown  p:hover{
    color: #00A495;
}
.fulldropdown p{
    font-size: 14px;
    line-height: 35px;
}
.properties{
    margin-top: 60px;
}

.propertiesMobile{
    background-color: white;    
    cursor: pointer;
}
.hidden1{
    display: grid;
}

/* <!-- ===============  Based on your last search  ============ --> */
.Basedlastsearch{
    margin-top: 80px;
    width: 93%;
    height: 380px;
    margin-left: 40px;
    border: 0px solid blue;
    background-color: #ebeeef;
}
.Basedlastsearch h1{
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 500;
}
.BasedlastsearchClass p{
    margin-right: 40px;
    margin-top: 30px;
    font-weight: 600;
    text-decoration: underline;
}
.BasedlastsearchClass{
    display: flex;
    justify-content: space-between;
}

#container{
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: 400px;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
#container::-webkit-scrollbar {
    display: none;
  }

.product_card{
    height: 280px;
    width: 300px;
    border: 1px solid rgba(14,4,5,.2);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    /* flex: 0 0 auto; */
    background-color: white;

}
.product_image{
    height: 160px;
    width: 100%;
    /* object-fit:contain; */
}

.product_price{
    color: #002F34;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
}

.product_name{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color: #002F34;
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none solid rgba(0,47,52,0.64);
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_city{
    text-align: left;
}

.product_details{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.item_style{
    padding:0 10px;
    margin: 5px
}

.heartimg{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 8px;
    gap: 10px;
}
.product_date{
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

.ri-heart-line{
    font-size: 20px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 16vw;
  height: 280px;
  position: absolute;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  cursor: pointer;
  /* z-index: 0; */
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}




/* <!-- ===============  download Image  ============ --> */


.downlode_app{
    background-color: #f7f8f9;
}
.downlode{
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 400px;
}
.text{
    border-right: 2px solid #cacdca;
}
.text h1{
    padding: 20px 20px 10px 20px;
    font-size: 35px;
}
.text p{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}
.downlode_store p{
    padding: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 17px;
}
.downlode_store{
    padding-left: 30px;
}
.downlode_store img{
    width: 140px;
    padding-left: 20px;
    cursor: pointer;
}



/* ===============footer============ */



.Main_footer{
    background-color: #ebeeef;
    position: sticky;
    bottom: 0%;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.footer_box h2{
    font-size: 17px;
    margin: 10px 0 15px 0;
    cursor: pointer;
}
.footer_box p{
    margin: 8px 0 8px 0;
    cursor: pointer;
    color: grey;
}
.footer_box p:hover{
    color: black;
}

