#eighty{
    width:80%;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(2,1fr); 
}

#eightyone>form>input{
    display:block;
    padding:5px;
    width:50%;
    margin-top: 8px;
}

#eightytwo{
    margin-top: 0px;
}

#card>form>input{
    display: block;
    padding:5px;
    width:50%;
    margin-top: 8px;
}

#pay{
    background-color: teal;
    border:none;
    cursor:pointer;
    padding:10px;
    margin-top: 15px;
    width:53%;
}